
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
@plugin "daisyui";


* {
  font-family: "Geist", sans-serif;

}

.heroImg {
  background-image: url('/src/assets/hero.jpg');
  background-size: 100%, 100%;
}
